<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="public/img/kurento.png" type="image/png" />

    <!-- files CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/readable/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/bower_components/wdt-emoji-bundle/wdt-emoji-bundle.css">
    <link rel="stylesheet" href="/public/css/style.css">

    <!-- files JS --->
    <script src="/public/bower_components/jquery/dist/jquery.min.js"></script>

    {{#each scripts}}
        <script src="{{this}}"></script>
    {{/each}}

    <title>Projet Ynov</title>
</head>
<body>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Projet WebRTC</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {{#if isConnected}}
                        <li>
                            <a href="/stream">Stream</a>
                        </li>
                        <li>
                            <a href="/account">Account</a>
                        </li>
                        <li>
                            <a href="/login/logout">Logout</a>
                        </li>
                    {{else}}
                        <li>
                            <a href="/login/signup">Signup</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>

    {{#if messages}}
        {{#each messages}}
            <div class="container">
                <div class="alert alert-info">
                    <strong>Info : </strong> {{this}}
                </div>
            </div>
        {{/each}}
    {{/if}}

    {{#if errors}}
        {{#each errors}}
            <div class="container">
                <div class="alert alert-danger">
                    <strong>Erreur : </strong> {{this}}
                </div>
            </div>
        {{/each}}
    {{/if}}

    <div class="container">
        {{{body}}}
    </div>

    <div class="wdt-emoji-popup">
        <a href="#" class="wdt-emoji-popup-mobile-closer"> × </a>
        <div class="wdt-emoji-menu-content">
            <div id="wdt-emoji-menu-header">
                <a class="wdt-emoji-tab active" data-group-name="Recent"></a>
                <a class="wdt-emoji-tab" data-group-name="People"></a>
                <a class="wdt-emoji-tab" data-group-name="Nature"></a>
                <a class="wdt-emoji-tab" data-group-name="Foods"></a>
                <a class="wdt-emoji-tab" data-group-name="Activity"></a>
                <a class="wdt-emoji-tab" data-group-name="Places"></a>
                <a class="wdt-emoji-tab" data-group-name="Objects"></a>
                <a class="wdt-emoji-tab" data-group-name="Symbols"></a>
                <a class="wdt-emoji-tab" data-group-name="Flags"></a>
                <a class="wdt-emoji-tab" data-group-name="Custom"></a>
            </div>
            <div class="wdt-emoji-scroll-wrapper">
                <div id="wdt-emoji-menu-items">
                    <input id="wdt-emoji-search" type="text" placeholder="Search">
                    <h3 id="wdt-emoji-search-result-title">Search Results</h3>
                    <div class="wdt-emoji-sections"></div>
                    <div id="wdt-emoji-no-result">No emoji found</div>
                </div>
            </div>
            <div id="wdt-emoji-footer">
                <div id="wdt-emoji-preview">
                    <span id="wdt-emoji-preview-img"></span>
                    <div id="wdt-emoji-preview-text">
                        <span id="wdt-emoji-preview-name"></span><br>
                        <span id="wdt-emoji-preview-aliases"></span>
                    </div>
                </div>
                <div id="wdt-emoji-preview-bundle">
                    <span>WDT Emoji Bundle</span>
                </div>
            </div>
        </div>
    </div>

    {{#unless isConnected}}
        {{>login}}
    {{/unless}}

    <script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/public/js/chatStream.js"></script>
</body>
</html>